<a href="https://colab.research.google.com/github/umairchanna57/AI-Bot/blob/main/NLP_PreProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pre Processing in NLP

In [28]:

text = {

           "profession" : ["<HI My name is UMAIR ALI*> I'm Professional ML engineer at DAFI LABS"],
            "address" :  ["Hello Im living in Lahore"]

}

In [19]:
import pandas as pd

In [20]:
df =  pd.DataFrame(text)

In [21]:
df.head()

,profession,address
0,<HI My name is UMAIR ALI*> I'm Professional ML...,Hello Im living in Lahore

#To Lower String

In [30]:
df['profession'].str.lower()

0    hi my name is umair ali i'm professional ml en...
Name: profession, dtype: object

#Remove HTML tags

In [25]:
import re
def remove_html():
  pattern = re.compile('[<,*?>]')
  return pattern.sub(r'' , text)

In [26]:
df["profession"] = df["profession"].apply(remove_html)

In [27]:
df['profession']

0    HI My name is UMAIR ALI I'm Professional ML en...
Name: profession, dtype: object

#Remove Punctuation

In [31]:
import string , time
exclude = string.punctuation
def remove_puntuations(text):
   for char in exclude:
    text = text.replace(char , '')
   return text

In [33]:
remove_puntuations('My , name .  ali umair ,4.5 ')

'My  name   ali umair 45 '

#Spelling check

In [39]:
from textblob import TextBlob
text= 'any tezt for checing'
correct_text = TextBlob(text)
correct_text.correct()

TextBlob("any test for checking")

In [41]:
my_text = "I'm going to ISB tonight in AIRSIAL"

#Tokenization

In [44]:
import nltk
from nltk.tokenize import word_tokenize , sent_tokenize

In [47]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [49]:
word_tokenize(my_text)

['I', "'m", 'going', 'to', 'ISB', 'tonight', 'in', 'AIRSIAL']

#10. Stemming/Lemmatization

In [55]:
from nltk.stem.porter import PorterStemmer
porter_stemmer = PorterStemmer()
my_text = my_text
tokens = word_tokenize(my_text)
for word in tokens:
  print(word,"--->" , porter_stemmer.stem(word))

I ---> i
'm ---> 'm
going ---> go
to ---> to
ISB ---> isb
tonight ---> tonight
in ---> in
AIRSIAL ---> airsial